
<div class="container">

      <div class="starter-template">

          <h1>FaceMaker</h1>

          <form>
        <input type="text" class="form-control" placeholder="Paste image url here" autofocus="true">
    </form>

        <pre id="response">Loading...</pre>
        <script type="text/javascript">
          (function() {
            var api = new FacePP('0ef14fa726ce34d820c5a44e57fef470', '4Y9YXOMSDvqu1Ompn9NSpNwWQFHs1hYD');
            api.request('detection/detect', {
              url: 'http://qph.is.quoracdn.net/main-qimg-9929aa996e6405ae317e5072738eb74b?convert_to_webp=true'
            }, function(err, result) {
              if (err) {
                // TODO handle error
                return;
              }
              // TODO use result
              document.getElementById('response').innerHTML = JSON.stringify(result, null, 2);
              console.log(result)
            });
          })();
        </script>
    </div>

</div>
